* {
    padding: 0%;
    margin: 0%;

}
                                        /* Adaptação no desktop */
    body {
        background-color: rgb(5, 5, 5);
    }

    /* textos */
    
    .titulo_1 {
        position: relative;
        margin-left: 45%;
        margin-top: 3.5%;
        color: rgb(242, 255, 0);
        /* display: inline-block; */
        white-space: nowrap; /* Evita quebra de linha */ 
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .dragon {
        position: relative;
        margin-top: 2.5%;
        color: red;
        margin-left: 48.5%;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }
    /* fim dos textos  */
    
    .little_dragon {
        position: relative;
        /* display: flex; */
        margin-left: 620px;
        /* font-size: 12px; */
        color: greenyellow;
        margin-top: 2.5%;
    }




                                         /* Fim da Adaptação pra pc */



                                    
/* usado quando for uma tela de celular */
@media screen and (max-width: 600px) {
    body {
        background-color: rgb(5, 5, 5);
    }

    /* textos */
    .titulo_1 {
        position: relative;
        display: flex;
        margin-left: 8%;
        margin-top: 5%;
        color: rgb(245, 245, 245);
        /* display: inline-block; */
        white-space: nowrap; /* Evita quebra de linha */ 
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .dragon {
        display: flex;
        position: relative;
        margin-top: 5%;
        color: red;
        margin-left: 37.5%;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    /* fim dos textos  */
    
    .little_dragon {
        display: flex;
        position: relative;
        color: rgb(4, 255, 0);
        margin-top: 2%;
        /* margin-right: 20%; */
        margin-left: -10%;
        font-size: 10px;

    }

}
/* Fim da adaptação no celular */